# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
../node_modules
npm-debug.log
yarn-error.log
 
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


/public

# Node.js dependencies
../node_modules/
# Build outputs
/dist/
/build/

# Logs
*.log
logs/

# IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables (optional, but recommended to keep sensitive data out of version control)
.env
.env.local

# Angular-specific (if using Angular CLI)
.angular/

# Compiled JS files (if you’re using TypeScript)
*.js
*.js.map

# Test coverage
/coverage/

# Backup files from editors
*~
*.swp
*.bak
