<div class="create-course">
    <h1>Edit Course</h1>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <div class="form-group">
        <label for="courseName">Course Name:</label>
        <input id="courseName" type="text" [(ngModel)]="courseName" placeholder="Enter course name" />
    </div>
    
    <h3>Select Lectures:</h3>
    <div *ngIf="lectures.length > 0">
        <div *ngFor="let lecture of lectures" class="checkbox-item">
            <label>
                <input type="checkbox" [value]="lecture._id" 
                       [checked]="selectedLectures.includes(lecture._id)" 
                       (change)="onLectureChange(lecture._id, $event)" />
                {{ lecture.name }}
            </label>
        </div>
    </div>

    <h3>Select Quizzes:</h3>
    <div *ngIf="quizzes.length > 0">
        <div *ngFor="let quiz of quizzes" class="checkbox-item">
            <label>
                <input type="checkbox" [value]="quiz._id" 
                       [checked]="selectedQuizzes.includes(quiz._id)" 
                       (change)="onQuizChange(quiz._id, $event)" />
                {{ quiz.name }}
            </label>
        </div>
    </div>

    <button (click)="updateCourse()">Update Course</button>
</div>
